/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

img {
    display: block;
}

/*Beginning of header command section*/

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}

.profile {
    padding: 100px 0;
}

.profile-image img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
}

.profile-image {
    float: left;
    width: calc(33.333% - 2px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    margin-left: 20px;
}

.profile-user-settings {
    margin-top: 20px;
}

.profile-user-name {
    display: inline-block;
    font-size: 35px;
    font-weight: solid;
    margin: 10;
    cursor: pointer;
}

.profile-edit-btn {
    font-size: 18px;
    line-height: 1.8;
    border:1.6px solid #dbdbdb;
    border-radius: 8px;
    padding: 0 16px;
    margin-left: 30px;
    cursor: pointer;
}

.profile-settings-btn {
    font-size: 26px;
    margin-left: 16px;
    background-color: white;
    border:1.4px solid transparent;
    margin-top: 10px;
    cursor: pointer;
    
}

.profile-stats li {
    display: inline-block;
    font-size: 14px;
    font-weight: solid;
    line-height: 1.5;
    margin-right: 70px;
    margin-bottom: 15px;
    cursor: pointer;
}

.profile-stats li:last-of-type {
    margin-right: 2px;
    padding-left: 0;
}

.profile-bio li {
    display: inline-block;
    font-weight: solid;
    font-size: 18px;
    line-height: 1.5;
    margin-right: 70px;
    cursor: pointer;
}

.profile-bio li:last-of-type {
    margin-top: 300px;
    margin-right: 2px;
    padding-left: 0;
}

/*End of header command section*/

img {
    height: 300px;
    width: 300px;
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.gallery {
    margin-top: 50px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(4, 300px);
    box-sizing: border-box;
    grid-gap: 20px;
    justify-content: center;
    cursor: pointer;
}

.gallery-item:hover {
    position: relative;
}

.gallery-item:hover .gallery-item-likes,
.gallery-item:hover .gallery-item-comments {
    display: inline-block;
}

.gallery-item-likes,
.gallery-item-comments {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    display: none;
    color: white;
    font-size: 15px;
    
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.gallery-item-likes {
    right: 50%;
}

.gallery-item-comments {
    left: 50%;
}

.visually-hidden, .gallery-item-type {
    display: none;
}

.loader {
    width:80px;
    height: 80px;
    border: 9px solid grey;
    border-bottom-color: transparent;
    border-radius: 50%;
    margin: 0 auto;
    animation: mobile-loader 1s linear infinite;
}

@keyframes mobile-loader {
    
    to {
        transform: rotate(360deg);
    }
}
@media only screen and (max-width: 768px) {


    .gallery {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 150px);
    }

    .profile-image {
        width: 100%;
        float: none;
        margin-right: 0;
        margin-left: 0;
    }

    .profile-user-name {
        font-size: 25px;
    }

    .profile-edit-btn,
    .profile-settings-btn {
        font-size: 16px;
        margin-left: 15px;
    }


    .loader {
        @media only screen and (max-width: 1440px) {
            width: 60px;
            height: 60px;
        }

        @media only screen and (max-width: 480px) {
            width: 40px;
            height: 40px;
        }

        @media only screen and (max-width: 320px) {
            width: 30px;
            height: 30px;
        }

        animation: loader 1s linear infinite, mobile-loader 1s linear infinite;
    }
}
